.image {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.itemContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 20px;
    margin: auto;
    border-top: 1px solid white;
}

.close {
    border: none;
    color: white;
    background-color: rgb(236, 95, 95);
    padding: 8px 16px;
    border-radius: 2px;
    font-size: large;
}