.container {
    padding: 8px;
    justify-content: right;
    position: sticky;
    top: 0;
    background-color: rgb(81, 81, 184);
}

.image {
    height: 20px;
    width: 20px;
    padding-left: 10px;
}

.btn {
    border: none;
    background-color: white;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    cursor: pointer;
}